node_modules
dist
.DS_Store
server/public
vite.config.ts.*
*.tar.gz
data/oralicensemgr.db
data/oralicensemgr.db-shm
data/oralicensemgr.db-wal
data/oralicensemgr.db.sql
data/oralicensemgr.db-shm
data/oralicensemgr.db-wal
